/analytics-server/platform-app/src/test/resources/ingestion-manifest-freeze/legacy/*.json text eol=crlf
/analytics-server/platform-app/src/test/resources/ingestion-manifest-freeze/new/*.json text eol=crlf
